<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.xmodule.usercenter.mapper.ClassesMapper">
    
    <!-- Auto-Generation Code Start -->

    <insert id="insertModel" keyProperty="id" parameterType="Classes" statementType="PREPARED" useGeneratedKeys="true">
        INSERT INTO classes(
            id,
            grade_uuid,
            uuid,
            name,
            status,
            created_time,
            modified_time,
            hikclassid,
            yhclassname
        ) VALUES (
            #{id, jdbcType=BIGINT},
            #{gradeUuid, jdbcType=VARCHAR},
            #{uuid, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{status, jdbcType=INTEGER},
            #{createdTime, jdbcType=VARCHAR},
            #{modifiedTime, jdbcType=VARCHAR},
            #{hikclassid, jdbcType=VARCHAR},
            #{yhclassname, jdbcType=VARCHAR}
        )
    </insert>
    
    <update id="updateModelById" parameterType="java.util.Map" statementType="PREPARED">
        UPDATE classes a
           SET a.id = a.id
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'gradeUuid')">
               ,a.grade_uuid = #{paramMap.gradeUuid, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'uuid')">
               ,a.uuid = #{paramMap.uuid, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'name')">
               ,a.name = #{paramMap.name, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'status')">
               ,a.status = #{paramMap.status, jdbcType=INTEGER}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'createdTime')">
               ,a.created_time = #{paramMap.createdTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'modifiedTime')">
               ,a.modified_time = #{paramMap.modifiedTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'hikclassid')">
               ,a.hikclassid = #{paramMap.hikclassid, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'yhclassname')">
               ,a.yhclassname = #{paramMap.yhclassname, jdbcType=VARCHAR}
            </if>
         WHERE a.id = #{id, jdbcType=BIGINT}
    </update>
    
    <delete id="deleteModelById" parameterType="java.lang.Long" statementType="PREPARED">
        DELETE FROM classes WHERE id = #{id, jdbcType=BIGINT}
    </delete>
    
    <delete id="deleteModelByIds" parameterType="java.util.List" statementType="PREPARED">
        DELETE FROM classes WHERE id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </delete>
    
    <select id="selectModelById" parameterType="java.lang.Long" resultType="Classes" statementType="PREPARED">
        SELECT a.id	id,
               a.grade_uuid	gradeUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.hikclassid	hikclassid,
               a.yhclassname	yhclassname
          FROM classes a
         WHERE a.id = #{id, jdbcType=BIGINT}
    </select>
    
    <select id="selectModelByExample" parameterType="Classes" resultType="Classes" statementType="PREPARED">
        SELECT a.id	id,
               a.grade_uuid	gradeUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.hikclassid	hikclassid,
               a.yhclassname	yhclassname
          FROM classes a
         WHERE 1=1
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(id)">
           AND a.id = #{id, jdbcType=BIGINT}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(gradeUuid)">
           AND a.grade_uuid = #{gradeUuid, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(uuid)">
           AND a.uuid = #{uuid, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(status)">
           AND a.status = #{status, jdbcType=INTEGER}
        </if>
    </select>
    
    <select id="selectModelListByIds" parameterType="java.util.List" resultType="Classes" statementType="PREPARED">
        SELECT a.id	id,
               a.grade_uuid	gradeUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.hikclassid	hikclassid,
               a.yhclassname	yhclassname
          FROM classes a
         WHERE a.id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelList" parameterType="java.util.Map" resultType="Classes" statementType="PREPARED">
        SELECT a.id	id,
               a.grade_uuid	gradeUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.hikclassid	hikclassid,
               a.yhclassname	yhclassname
          FROM classes a
         WHERE 1=1
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelCount" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM classes a
         WHERE 1=1
    </select>
    
    <select id="selectModelListByExample" parameterType="Classes" resultType="Classes" statementType="PREPARED">
        SELECT a.id	id,
               a.grade_uuid	gradeUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.hikclassid	hikclassid,
               a.yhclassname	yhclassname
          FROM classes a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.id)">
           AND a.id = #{example.id, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.gradeUuid)">
           AND a.grade_uuid = #{example.gradeUuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.uuid)">
           AND a.uuid = #{example.uuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=INTEGER}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageListByExample" parameterType="Classes" resultType="Classes" statementType="PREPARED">
        SELECT a.id	id,
               a.grade_uuid	gradeUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.hikclassid	hikclassid,
               a.yhclassname	yhclassname
          FROM classes a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.id)">
           AND a.id = #{example.id, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.gradeUuid)">
           AND a.grade_uuid = #{example.gradeUuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.uuid)">
           AND a.uuid = #{example.uuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=INTEGER}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageCountByExample" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM classes a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.id)">
           AND a.id = #{example.id, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.gradeUuid)">
           AND a.grade_uuid = #{example.gradeUuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.uuid)">
           AND a.uuid = #{example.uuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=INTEGER}
        </if>
    </select>
    
    <!-- Auto-Generation Code End -->

    <!-- Customized Code Start -->

    
    
    <!-- Customized Code End -->

</mapper>