<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.xmodule.usercenter.mapper.SchoolMapper">
    
    <!-- Auto-Generation Code Start -->

    <insert id="insertModel" keyProperty="id" parameterType="School" statementType="PREPARED" useGeneratedKeys="true">
        INSERT INTO schools(
            id,
            area_uuid,
            uuid,
            name,
            status,
            created_time,
            modified_time,
            type,
            car_flag,
            yunke_flag,
            yunke_code
        ) VALUES (
            #{id, jdbcType=BIGINT},
            #{areaUuid, jdbcType=VARCHAR},
            #{uuid, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{status, jdbcType=INTEGER},
            #{createdTime, jdbcType=VARCHAR},
            #{modifiedTime, jdbcType=VARCHAR},
            #{type, jdbcType=INTEGER},
            #{carFlag, jdbcType=TINYINT},
            #{yunkeFlag, jdbcType=CHAR},
            #{yunkeCode, jdbcType=VARCHAR}
        )
    </insert>
    
    <update id="updateModelById" parameterType="java.util.Map" statementType="PREPARED">
        UPDATE schools a
           SET a.id = a.id
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'areaUuid')">
               ,a.area_uuid = #{paramMap.areaUuid, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'uuid')">
               ,a.uuid = #{paramMap.uuid, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'name')">
               ,a.name = #{paramMap.name, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'status')">
               ,a.status = #{paramMap.status, jdbcType=INTEGER}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'createdTime')">
               ,a.created_time = #{paramMap.createdTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'modifiedTime')">
               ,a.modified_time = #{paramMap.modifiedTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'type')">
               ,a.type = #{paramMap.type, jdbcType=INTEGER}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'carFlag')">
               ,a.car_flag = #{paramMap.carFlag, jdbcType=TINYINT}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'yunkeFlag')">
               ,a.yunke_flag = #{paramMap.yunkeFlag, jdbcType=CHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'yunkeCode')">
               ,a.yunke_code = #{paramMap.yunkeCode, jdbcType=VARCHAR}
            </if>
         WHERE a.id = #{id, jdbcType=BIGINT}
    </update>
    
    <delete id="deleteModelById" parameterType="java.lang.Long" statementType="PREPARED">
        DELETE FROM schools WHERE id = #{id, jdbcType=BIGINT}
    </delete>
    
    <delete id="deleteModelByIds" parameterType="java.util.List" statementType="PREPARED">
        DELETE FROM schools WHERE id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </delete>
    
    <select id="selectModelById" parameterType="java.lang.Long" resultType="School" statementType="PREPARED">
        SELECT a.id	id,
               a.area_uuid	areaUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.type	type,
               a.car_flag	carFlag,
               a.yunke_flag	yunkeFlag,
               a.yunke_code	yunkeCode
          FROM schools a
         WHERE a.id = #{id, jdbcType=BIGINT}
    </select>
    
    <select id="selectModelByExample" parameterType="School" resultType="School" statementType="PREPARED">
        SELECT a.id	id,
               a.area_uuid	areaUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.type	type,
               a.car_flag	carFlag,
               a.yunke_flag	yunkeFlag,
               a.yunke_code	yunkeCode
          FROM schools a
         WHERE 1=1
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(areaUuid)">
           AND a.area_uuid = #{areaUuid, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(uuid)">
           AND a.uuid = #{uuid, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(status)">
           AND a.status = #{status, jdbcType=INTEGER}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(type)">
           AND a.type = #{type, jdbcType=INTEGER}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(carFlag)">
           AND a.car_flag = #{carFlag, jdbcType=TINYINT}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(yunkeFlag)">
           AND a.yunke_flag = #{yunkeFlag, jdbcType=CHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(yunkeCode)">
           AND a.yunke_code = #{yunkeCode, jdbcType=VARCHAR}
        </if>
    </select>
    
    <select id="selectModelListByIds" parameterType="java.util.List" resultType="School" statementType="PREPARED">
        SELECT a.id	id,
               a.area_uuid	areaUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.type	type,
               a.car_flag	carFlag,
               a.yunke_flag	yunkeFlag,
               a.yunke_code	yunkeCode
          FROM schools a
         WHERE a.id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelList" parameterType="java.util.Map" resultType="School" statementType="PREPARED">
        SELECT a.id	id,
               a.area_uuid	areaUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.type	type,
               a.car_flag	carFlag,
               a.yunke_flag	yunkeFlag,
               a.yunke_code	yunkeCode
          FROM schools a
         WHERE 1=1
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelCount" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM schools a
         WHERE 1=1
    </select>
    
    <select id="selectModelListByExample" parameterType="java.util.Map" resultType="School" statementType="PREPARED">
        SELECT a.id	id,
               a.area_uuid	areaUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.type	type,
               a.car_flag	carFlag,
               a.yunke_flag	yunkeFlag,
               a.yunke_code	yunkeCode
          FROM schools a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.areaUuid)">
           AND a.area_uuid = #{example.areaUuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.uuid)">
           AND a.uuid = #{example.uuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.type)">
           AND a.type = #{example.type, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.carFlag)">
           AND a.car_flag = #{example.carFlag, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.yunkeFlag)">
           AND a.yunke_flag = #{example.yunkeFlag, jdbcType=CHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.yunkeCode)">
           AND a.yunke_code = #{example.yunkeCode, jdbcType=VARCHAR}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageListByExample" parameterType="java.util.Map" resultType="School" statementType="PREPARED">
        SELECT a.id	id,
               a.area_uuid	areaUuid,
               a.uuid	uuid,
               a.name	name,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.type	type,
               a.car_flag	carFlag,
               a.yunke_flag	yunkeFlag,
               a.yunke_code	yunkeCode
          FROM schools a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.areaUuid)">
           AND a.area_uuid = #{example.areaUuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.uuid)">
           AND a.uuid = #{example.uuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.type)">
           AND a.type = #{example.type, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.carFlag)">
           AND a.car_flag = #{example.carFlag, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.yunkeFlag)">
           AND a.yunke_flag = #{example.yunkeFlag, jdbcType=CHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.yunkeCode)">
           AND a.yunke_code = #{example.yunkeCode, jdbcType=VARCHAR}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageCountByExample" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM schools a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.areaUuid)">
           AND a.area_uuid = #{example.areaUuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.uuid)">
           AND a.uuid = #{example.uuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.type)">
           AND a.type = #{example.type, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.carFlag)">
           AND a.car_flag = #{example.carFlag, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.yunkeFlag)">
           AND a.yunke_flag = #{example.yunkeFlag, jdbcType=CHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.yunkeCode)">
           AND a.yunke_code = #{example.yunkeCode, jdbcType=VARCHAR}
        </if>
    </select>
    
    <!-- Auto-Generation Code End -->

    <!-- Customized Code Start -->

    
    
    <!-- Customized Code End -->

</mapper>