<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.xmodule.usercenter.mapper.SysRoleMapper">
    
    <!-- Auto-Generation Code Start -->

    <insert id="insertModel" parameterType="SysRole" statementType="PREPARED">
        INSERT INTO sys_role(
            id,
            office_id,
            name,
            enname,
            role_type,
            data_scope,
            useable,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag
        ) VALUES (
            #{id, jdbcType=VARCHAR},
            #{officeId, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{enname, jdbcType=VARCHAR},
            #{roleType, jdbcType=VARCHAR},
            #{dataScope, jdbcType=CHAR},
            #{useable, jdbcType=VARCHAR},
            #{createBy, jdbcType=VARCHAR},
            #{createDate, jdbcType=VARCHAR},
            #{updateBy, jdbcType=VARCHAR},
            #{updateDate, jdbcType=VARCHAR},
            #{remarks, jdbcType=VARCHAR},
            #{delFlag, jdbcType=CHAR}
        )
    </insert>
    
    <update id="updateModelById" parameterType="java.util.Map" statementType="PREPARED">
        UPDATE sys_role a
           SET a.id = a.id
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'officeId')">
               ,a.office_id = #{paramMap.officeId, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'name')">
               ,a.name = #{paramMap.name, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'enname')">
               ,a.enname = #{paramMap.enname, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'roleType')">
               ,a.role_type = #{paramMap.roleType, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'dataScope')">
               ,a.data_scope = #{paramMap.dataScope, jdbcType=CHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'isSys')">
               ,a.is_sys = #{paramMap.isSys, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'useable')">
               ,a.useable = #{paramMap.useable, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'createBy')">
               ,a.create_by = #{paramMap.createBy, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'createDate')">
               ,a.create_date = #{paramMap.createDate, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'updateBy')">
               ,a.update_by = #{paramMap.updateBy, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'updateDate')">
               ,a.update_date = #{paramMap.updateDate, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'remarks')">
               ,a.remarks = #{paramMap.remarks, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'delFlag')">
               ,a.del_flag = #{paramMap.delFlag, jdbcType=CHAR}
            </if>
         WHERE a.id = #{id, jdbcType=VARCHAR}
    </update>
    
    <delete id="deleteModelById" parameterType="java.lang.String" statementType="PREPARED">
        DELETE FROM sys_role WHERE id = #{id, jdbcType=VARCHAR}
    </delete>
    
    <delete id="deleteModelByIds" parameterType="java.util.List" statementType="PREPARED">
        DELETE FROM sys_role WHERE id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </delete>
    
    <select id="selectModelById" parameterType="java.lang.String" resultType="SysRole" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.name	name,
               a.enname	enname,
               a.role_type	roleType,
               a.data_scope	dataScope,
               a.is_sys	isSys,
               a.useable	useable,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_role a
         WHERE a.id = #{id, jdbcType=VARCHAR}
    </select>
    
    <select id="selectModelByExample" parameterType="SysRole" resultType="SysRole" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.name	name,
               a.enname	enname,
               a.role_type	roleType,
               a.data_scope	dataScope,
               a.is_sys	isSys,
               a.useable	useable,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_role a
         WHERE 1=1
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(id)">
           AND a.id = #{id, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(officeId)">
           AND a.office_id = #{officeId, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(roleType)">
           AND a.role_type = #{roleType, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(delFlag)">
           AND a.del_flag = #{delFlag, jdbcType=CHAR}
        </if>
    </select>
    
    <select id="selectModelListByIds" parameterType="java.util.List" resultType="SysRole" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.name	name,
               a.enname	enname,
               a.role_type	roleType,
               a.data_scope	dataScope,
               a.is_sys	isSys,
               a.useable	useable,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_role a
         WHERE a.id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=VARCHAR}
        </foreach>
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelList" parameterType="java.util.Map" resultType="SysRole" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.name	name,
               a.enname	enname,
               a.role_type	roleType,
               a.data_scope	dataScope,
               a.is_sys	isSys,
               a.useable	useable,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_role a
         WHERE 1=1
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelCount" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM sys_role a
         WHERE 1=1
    </select>
    
    <select id="selectModelListByExample" parameterType="SysRole" resultType="SysRole" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.name	name,
               a.enname	enname,
               a.role_type	roleType,
               a.data_scope	dataScope,
               a.is_sys	isSys,
               a.useable	useable,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_role a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.id)">
           AND a.id = #{example.id, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.officeId)">
           AND a.office_id = #{example.officeId, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.roleType)">
           AND a.role_type = #{example.roleType, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.delFlag)">
           AND a.del_flag = #{example.delFlag, jdbcType=CHAR}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageListByExample" parameterType="SysRole" resultType="SysRole" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.name	name,
               a.enname	enname,
               a.role_type	roleType,
               a.data_scope	dataScope,
               a.is_sys	isSys,
               a.useable	useable,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_role a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.id)">
           AND a.id = #{example.id, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.officeId)">
           AND a.office_id = #{example.officeId, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.roleType)">
           AND a.role_type = #{example.roleType, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.delFlag)">
           AND a.del_flag = #{example.delFlag, jdbcType=CHAR}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageCountByExample" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM sys_role a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.id)">
           AND a.id = #{example.id, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.officeId)">
           AND a.office_id = #{example.officeId, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.roleType)">
           AND a.role_type = #{example.roleType, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.delFlag)">
           AND a.del_flag = #{example.delFlag, jdbcType=CHAR}
        </if>
    </select>
    
    <!-- Auto-Generation Code End -->

    <!-- Customized Code Start -->

    
    
    <!-- Customized Code End -->

</mapper>