<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.xmodule.usercenter.mapper.SysUserMapper">
    
    <!-- Auto-Generation Code Start -->

    <insert id="insertModel" parameterType="SysUser" statementType="PREPARED">
        INSERT INTO sys_user(
            id,
            office_id,
            login_name,
            password,
            no,
            name,
            email,
            phone,
            mobile,
            user_type,
            photo,
            login_ip,
            login_date,
            login_flag,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag
        ) VALUES (
            #{id, jdbcType=VARCHAR},
            #{officeId, jdbcType=VARCHAR},
            #{loginName, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{no, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{email, jdbcType=VARCHAR},
            #{phone, jdbcType=VARCHAR},
            #{mobile, jdbcType=VARCHAR},
            #{userType, jdbcType=CHAR},
            #{photo, jdbcType=VARCHAR},
            #{loginIp, jdbcType=VARCHAR},
            #{loginDate, jdbcType=VARCHAR},
            #{loginFlag, jdbcType=VARCHAR},
            #{createBy, jdbcType=VARCHAR},
            #{createDate, jdbcType=VARCHAR},
            #{updateBy, jdbcType=VARCHAR},
            #{updateDate, jdbcType=VARCHAR},
            #{remarks, jdbcType=VARCHAR},
            #{delFlag, jdbcType=CHAR}
        )
    </insert>
    
    <update id="updateModelById" parameterType="java.util.Map" statementType="PREPARED">
        UPDATE sys_user a
           SET a.id = a.id
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'officeId')">
               ,a.office_id = #{paramMap.officeId, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'loginName')">
               ,a.login_name = #{paramMap.loginName, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'password')">
               ,a.password = #{paramMap.password, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'no')">
               ,a.no = #{paramMap.no, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'name')">
               ,a.name = #{paramMap.name, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'email')">
               ,a.email = #{paramMap.email, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'phone')">
               ,a.phone = #{paramMap.phone, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'mobile')">
               ,a.mobile = #{paramMap.mobile, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'userType')">
               ,a.user_type = #{paramMap.userType, jdbcType=CHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'photo')">
               ,a.photo = #{paramMap.photo, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'loginIp')">
               ,a.login_ip = #{paramMap.loginIp, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'loginDate')">
               ,a.login_date = #{paramMap.loginDate, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'loginFlag')">
               ,a.login_flag = #{paramMap.loginFlag, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'createBy')">
               ,a.create_by = #{paramMap.createBy, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'createDate')">
               ,a.create_date = #{paramMap.createDate, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'updateBy')">
               ,a.update_by = #{paramMap.updateBy, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'updateDate')">
               ,a.update_date = #{paramMap.updateDate, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'remarks')">
               ,a.remarks = #{paramMap.remarks, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'delFlag')">
               ,a.del_flag = #{paramMap.delFlag, jdbcType=CHAR}
            </if>
         WHERE a.id = #{id, jdbcType=VARCHAR}
    </update>
    
    <delete id="deleteModelById" parameterType="java.lang.String" statementType="PREPARED">
        DELETE FROM sys_user WHERE id = #{id, jdbcType=VARCHAR}
    </delete>
    
    <delete id="deleteModelByIds" parameterType="java.util.List" statementType="PREPARED">
        DELETE FROM sys_user WHERE id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </delete>
    
    <select id="selectModelById" parameterType="java.lang.String" resultType="SysUser" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.login_name	loginName,
               a.password	password,
               a.no	no,
               a.name	name,
               a.email	email,
               a.phone	phone,
               a.mobile	mobile,
               a.user_type	userType,
               a.photo	photo,
               a.login_ip	loginIp,
               DATE_FORMAT(a.login_date, '%Y-%m-%d %T')	loginDate,
               a.login_flag	loginFlag,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_user a
         WHERE a.id = #{id, jdbcType=VARCHAR}
    </select>
    
    <select id="selectModelByExample" parameterType="SysUser" resultType="SysUser" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.login_name	loginName,
               a.password	password,
               a.no	no,
               a.name	name,
               a.email	email,
               a.phone	phone,
               a.mobile	mobile,
               a.user_type	userType,
               a.photo	photo,
               a.login_ip	loginIp,
               DATE_FORMAT(a.login_date, '%Y-%m-%d %T')	loginDate,
               a.login_flag	loginFlag,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_user a
         WHERE 1=1
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(id)">
           AND a.id = #{id, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(officeId)">
           AND a.office_id = #{officeId, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(userType)">
           AND a.user_type = #{userType, jdbcType=CHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(delFlag)">
           AND a.del_flag = #{delFlag, jdbcType=CHAR}
        </if>
    </select>
    
    <select id="selectModelListByIds" parameterType="java.util.List" resultType="SysUser" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.login_name	loginName,
               a.password	password,
               a.no	no,
               a.name	name,
               a.email	email,
               a.phone	phone,
               a.mobile	mobile,
               a.user_type	userType,
               a.photo	photo,
               a.login_ip	loginIp,
               DATE_FORMAT(a.login_date, '%Y-%m-%d %T')	loginDate,
               a.login_flag	loginFlag,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_user a
         WHERE a.id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=VARCHAR}
        </foreach>
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelList" parameterType="java.util.Map" resultType="SysUser" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.login_name	loginName,
               a.password	password,
               a.no	no,
               a.name	name,
               a.email	email,
               a.phone	phone,
               a.mobile	mobile,
               a.user_type	userType,
               a.photo	photo,
               a.login_ip	loginIp,
               DATE_FORMAT(a.login_date, '%Y-%m-%d %T')	loginDate,
               a.login_flag	loginFlag,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_user a
         WHERE 1=1
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelCount" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM sys_user a
         WHERE 1=1
    </select>
    
    <select id="selectModelListByExample" parameterType="java.util.Map" resultType="SysUser" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.login_name	loginName,
               a.password	password,
               a.no	no,
               a.name	name,
               a.email	email,
               a.phone	phone,
               a.mobile	mobile,
               a.user_type	userType,
               a.photo	photo,
               a.login_ip	loginIp,
               DATE_FORMAT(a.login_date, '%Y-%m-%d %T')	loginDate,
               a.login_flag	loginFlag,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_user a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.id)">
           AND a.id = #{example.id, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.officeId)">
           AND a.office_id = #{example.officeId, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.userType)">
           AND a.user_type = #{example.userType, jdbcType=CHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.delFlag)">
           AND a.del_flag = #{example.delFlag, jdbcType=CHAR}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageListByExample" parameterType="java.util.Map" resultType="SysUser" statementType="PREPARED">
        SELECT a.id	id,
               a.office_id	officeId,
               a.login_name	loginName,
               a.password	password,
               a.no	no,
               a.name	name,
               a.email	email,
               a.phone	phone,
               a.mobile	mobile,
               a.user_type	userType,
               a.photo	photo,
               a.login_ip	loginIp,
               DATE_FORMAT(a.login_date, '%Y-%m-%d %T')	loginDate,
               a.login_flag	loginFlag,
               a.create_by	createBy,
               DATE_FORMAT(a.create_date, '%Y-%m-%d %T')	createDate,
               a.update_by	updateBy,
               DATE_FORMAT(a.update_date, '%Y-%m-%d %T')	updateDate,
               a.remarks	remarks,
               a.del_flag	delFlag
          FROM sys_user a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.id)">
           AND a.id = #{example.id, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.officeId)">
           AND a.office_id = #{example.officeId, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.userType)">
           AND a.user_type = #{example.userType, jdbcType=CHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.delFlag)">
           AND a.del_flag = #{example.delFlag, jdbcType=CHAR}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageCountByExample" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM sys_user a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.id)">
           AND a.id = #{example.id, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.officeId)">
           AND a.office_id = #{example.officeId, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.userType)">
           AND a.user_type = #{example.userType, jdbcType=CHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.delFlag)">
           AND a.del_flag = #{example.delFlag, jdbcType=CHAR}
        </if>
    </select>
    
    <!-- Auto-Generation Code End -->

    <!-- Customized Code Start -->

    
    
    <!-- Customized Code End -->

</mapper>