<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.xmodule.usercenter.mapper.UserMapper">
    
    <!-- Auto-Generation Code Start -->

    <insert id="insertModel" keyProperty="id" parameterType="User" statementType="PREPARED" useGeneratedKeys="true">
        INSERT INTO users(
            id,
            uuid,
            phone,
            password,
            firstname,
            lastname,
            nickname,
            type,
            status,
            created_time,
            modified_time,
            pic_url,
            wonderful_time,
            easemob_uuid,
            phone_type,
            access_token,
            login_time,
            user_code,
            identity_num,
            current_type,
            current_uuid,
            yunhteacherid,
            yunhteachercode
        ) VALUES (
            #{id, jdbcType=BIGINT},
            #{uuid, jdbcType=VARCHAR},
            #{phone, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{firstname, jdbcType=VARCHAR},
            #{lastname, jdbcType=VARCHAR},
            #{nickname, jdbcType=VARCHAR},
            #{type, jdbcType=INTEGER},
            #{status, jdbcType=INTEGER},
            #{createdTime, jdbcType=VARCHAR},
            #{modifiedTime, jdbcType=VARCHAR},
            #{picUrl, jdbcType=VARCHAR},
            #{wonderfulTime, jdbcType=VARCHAR},
            #{easemobUuid, jdbcType=VARCHAR},
            #{phoneType, jdbcType=TINYINT},
            #{accessToken, jdbcType=VARCHAR},
            #{loginTime, jdbcType=VARCHAR},
            #{userCode, jdbcType=VARCHAR},
            #{identityNum, jdbcType=VARCHAR},
            #{currentType, jdbcType=CHAR},
            #{currentUuid, jdbcType=VARCHAR},
            #{yunhteacherid, jdbcType=VARCHAR},
            #{yunhteachercode, jdbcType=VARCHAR}
        )
    </insert>
    
    <update id="updateModelById" parameterType="java.util.Map" statementType="PREPARED">
        UPDATE users a
           SET a.id = a.id
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'uuid')">
               ,a.uuid = #{paramMap.uuid, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'phone')">
               ,a.phone = #{paramMap.phone, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'password')">
               ,a.password = #{paramMap.password, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'firstname')">
               ,a.firstname = #{paramMap.firstname, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'lastname')">
               ,a.lastname = #{paramMap.lastname, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'nickname')">
               ,a.nickname = #{paramMap.nickname, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'type')">
               ,a.type = #{paramMap.type, jdbcType=INTEGER}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'status')">
               ,a.status = #{paramMap.status, jdbcType=INTEGER}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'createdTime')">
               ,a.created_time = #{paramMap.createdTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'modifiedTime')">
               ,a.modified_time = #{paramMap.modifiedTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'picUrl')">
               ,a.pic_url = #{paramMap.picUrl, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'wonderfulTime')">
               ,a.wonderful_time = #{paramMap.wonderfulTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'easemobUuid')">
               ,a.easemob_uuid = #{paramMap.easemobUuid, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'phoneType')">
               ,a.phone_type = #{paramMap.phoneType, jdbcType=TINYINT}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'accessToken')">
               ,a.access_token = #{paramMap.accessToken, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'loginTime')">
               ,a.login_time = #{paramMap.loginTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'userCode')">
               ,a.user_code = #{paramMap.userCode, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'identityNum')">
               ,a.identity_num = #{paramMap.identityNum, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'currentType')">
               ,a.current_type = #{paramMap.currentType, jdbcType=CHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'currentUuid')">
               ,a.current_uuid = #{paramMap.currentUuid, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'yunhteacherid')">
               ,a.yunhteacherid = #{paramMap.yunhteacherid, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'yunhteachercode')">
               ,a.yunhteachercode = #{paramMap.yunhteachercode, jdbcType=VARCHAR}
            </if>
         WHERE a.id = #{id, jdbcType=BIGINT}
    </update>
    
    <delete id="deleteModelById" parameterType="java.lang.Long" statementType="PREPARED">
        DELETE FROM users WHERE id = #{id, jdbcType=BIGINT}
    </delete>
    
    <delete id="deleteModelByIds" parameterType="java.util.List" statementType="PREPARED">
        DELETE FROM users WHERE id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </delete>
    
    <select id="selectModelById" parameterType="java.lang.Long" resultType="User" statementType="PREPARED">
        SELECT a.id	id,
               a.uuid	uuid,
               a.phone	phone,
               a.password	password,
               a.firstname	firstname,
               a.lastname	lastname,
               a.nickname	nickname,
               a.type	type,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.pic_url	picUrl,
               DATE_FORMAT(a.wonderful_time, '%Y-%m-%d %T')	wonderfulTime,
               a.easemob_uuid	easemobUuid,
               a.phone_type	phoneType,
               a.access_token	accessToken,
               DATE_FORMAT(a.login_time, '%Y-%m-%d %T')	loginTime,
               a.user_code	userCode,
               a.identity_num	identityNum,
               a.current_type	currentType,
               a.current_uuid	currentUuid,
               a.yunhteacherid	yunhteacherid,
               a.yunhteachercode	yunhteachercode
          FROM users a
         WHERE a.id = #{id, jdbcType=BIGINT}
    </select>
    
    <select id="selectModelByExample" parameterType="User" resultType="User" statementType="PREPARED">
        SELECT a.id	id,
               a.uuid	uuid,
               a.phone	phone,
               a.password	password,
               a.firstname	firstname,
               a.lastname	lastname,
               a.nickname	nickname,
               a.type	type,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.pic_url	picUrl,
               DATE_FORMAT(a.wonderful_time, '%Y-%m-%d %T')	wonderfulTime,
               a.easemob_uuid	easemobUuid,
               a.phone_type	phoneType,
               a.access_token	accessToken,
               DATE_FORMAT(a.login_time, '%Y-%m-%d %T')	loginTime,
               a.user_code	userCode,
               a.identity_num	identityNum,
               a.current_type	currentType,
               a.current_uuid	currentUuid,
               a.yunhteacherid	yunhteacherid,
               a.yunhteachercode	yunhteachercode
          FROM users a
         WHERE 1=1
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(uuid)">
           AND a.uuid = #{uuid, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(phone)">
           AND a.phone = #{phone, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(type)">
           AND a.type = #{type, jdbcType=INTEGER}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(status)">
           AND a.status = #{status, jdbcType=INTEGER}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(phoneType)">
           AND a.phone_type = #{phoneType, jdbcType=TINYINT}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(userCode)">
           AND a.user_code = #{userCode, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(currentType)">
           AND a.current_type = #{currentType, jdbcType=CHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(currentUuid)">
           AND a.current_uuid = #{currentUuid, jdbcType=VARCHAR}
        </if>
    </select>
    
    <select id="selectModelListByIds" parameterType="java.util.List" resultType="User" statementType="PREPARED">
        SELECT a.id	id,
               a.uuid	uuid,
               a.phone	phone,
               a.password	password,
               a.firstname	firstname,
               a.lastname	lastname,
               a.nickname	nickname,
               a.type	type,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.pic_url	picUrl,
               DATE_FORMAT(a.wonderful_time, '%Y-%m-%d %T')	wonderfulTime,
               a.easemob_uuid	easemobUuid,
               a.phone_type	phoneType,
               a.access_token	accessToken,
               DATE_FORMAT(a.login_time, '%Y-%m-%d %T')	loginTime,
               a.user_code	userCode,
               a.identity_num	identityNum,
               a.current_type	currentType,
               a.current_uuid	currentUuid,
               a.yunhteacherid	yunhteacherid,
               a.yunhteachercode	yunhteachercode
          FROM users a
         WHERE a.id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelList" parameterType="java.util.Map" resultType="User" statementType="PREPARED">
        SELECT a.id	id,
               a.uuid	uuid,
               a.phone	phone,
               a.password	password,
               a.firstname	firstname,
               a.lastname	lastname,
               a.nickname	nickname,
               a.type	type,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.pic_url	picUrl,
               DATE_FORMAT(a.wonderful_time, '%Y-%m-%d %T')	wonderfulTime,
               a.easemob_uuid	easemobUuid,
               a.phone_type	phoneType,
               a.access_token	accessToken,
               DATE_FORMAT(a.login_time, '%Y-%m-%d %T')	loginTime,
               a.user_code	userCode,
               a.identity_num	identityNum,
               a.current_type	currentType,
               a.current_uuid	currentUuid,
               a.yunhteacherid	yunhteacherid,
               a.yunhteachercode	yunhteachercode
          FROM users a
         WHERE 1=1
         ORDER BY a.id ASC
    </select>
    
    <select id="selectAllModelCount" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM users a
         WHERE 1=1
    </select>
    
    <select id="selectModelListByExample" parameterType="java.util.Map" resultType="User" statementType="PREPARED">
        SELECT a.id	id,
               a.uuid	uuid,
               a.phone	phone,
               a.password	password,
               a.firstname	firstname,
               a.lastname	lastname,
               a.nickname	nickname,
               a.type	type,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.pic_url	picUrl,
               DATE_FORMAT(a.wonderful_time, '%Y-%m-%d %T')	wonderfulTime,
               a.easemob_uuid	easemobUuid,
               a.phone_type	phoneType,
               a.access_token	accessToken,
               DATE_FORMAT(a.login_time, '%Y-%m-%d %T')	loginTime,
               a.user_code	userCode,
               a.identity_num	identityNum,
               a.current_type	currentType,
               a.current_uuid	currentUuid,
               a.yunhteacherid	yunhteacherid,
               a.yunhteachercode	yunhteachercode
          FROM users a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.uuid)">
           AND a.uuid = #{example.uuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.phone)">
           AND a.phone = #{example.phone, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.type)">
           AND a.type = #{example.type, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.phoneType)">
           AND a.phone_type = #{example.phoneType, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.userCode)">
           AND a.user_code = #{example.userCode, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.currentType)">
           AND a.current_type = #{example.currentType, jdbcType=CHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.currentUuid)">
           AND a.current_uuid = #{example.currentUuid, jdbcType=VARCHAR}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageListByExample" parameterType="java.util.Map" resultType="User" statementType="PREPARED">
        SELECT a.id	id,
               a.uuid	uuid,
               a.phone	phone,
               a.password	password,
               a.firstname	firstname,
               a.lastname	lastname,
               a.nickname	nickname,
               a.type	type,
               a.status	status,
               DATE_FORMAT(a.created_time, '%Y-%m-%d %T')	createdTime,
               DATE_FORMAT(a.modified_time, '%Y-%m-%d %T')	modifiedTime,
               a.pic_url	picUrl,
               DATE_FORMAT(a.wonderful_time, '%Y-%m-%d %T')	wonderfulTime,
               a.easemob_uuid	easemobUuid,
               a.phone_type	phoneType,
               a.access_token	accessToken,
               DATE_FORMAT(a.login_time, '%Y-%m-%d %T')	loginTime,
               a.user_code	userCode,
               a.identity_num	identityNum,
               a.current_type	currentType,
               a.current_uuid	currentUuid,
               a.yunhteacherid	yunhteacherid,
               a.yunhteachercode	yunhteachercode
          FROM users a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.uuid)">
           AND a.uuid = #{example.uuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.phone)">
           AND a.phone = #{example.phone, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.type)">
           AND a.type = #{example.type, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.phoneType)">
           AND a.phone_type = #{example.phoneType, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.userCode)">
           AND a.user_code = #{example.userCode, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.currentType)">
           AND a.current_type = #{example.currentType, jdbcType=CHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.currentUuid)">
           AND a.current_uuid = #{example.currentUuid, jdbcType=VARCHAR}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageCountByExample" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM users a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.uuid)">
           AND a.uuid = #{example.uuid, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.phone)">
           AND a.phone = #{example.phone, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.type)">
           AND a.type = #{example.type, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=INTEGER}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.phoneType)">
           AND a.phone_type = #{example.phoneType, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.userCode)">
           AND a.user_code = #{example.userCode, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.currentType)">
           AND a.current_type = #{example.currentType, jdbcType=CHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.currentUuid)">
           AND a.current_uuid = #{example.currentUuid, jdbcType=VARCHAR}
        </if>
    </select>
    
    <!-- Auto-Generation Code End -->

    <!-- Customized Code Start -->

    
    
    <!-- Customized Code End -->

</mapper>