<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean name="timeService" class="com.penglecode.xmodule.master4j.spring.aop.advice.TimeServiceImpl"/>

    <bean name="timeServiceBeforeAdvice" class="com.penglecode.xmodule.master4j.spring.aop.advice.TimeServiceSimpleAdvice"/>

    <bean name="timeServiceAfterAdvice" class="com.penglecode.xmodule.master4j.spring.aop.proxyfactorybean.TimeServiceAfterAdvice"/>

    <bean name="cglibProxyTimeService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyTargetClass" value="true"/>
        <property name="interceptorNames">
            <list>
                <value>timeServiceBeforeAdvice</value>
                <value>timeServiceAfterAdvice</value>
                <!-- 最后一个作为targetName，并不建议这样做，这种约定会在将来版本被删除 -->
                <value>timeService</value>
            </list>
        </property>
    </bean>

    <bean name="jdkProxyTimeService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="targetName" value="timeService"/>
        <property name="proxyTargetClass" value="false"/>
        <property name="interceptorNames">
            <list>
                <value>timeServiceBeforeAdvice</value>
                <value>timeServiceAfterAdvice</value>
            </list>
        </property>
    </bean>
</beans>