<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.xmodule.ordercenter.mapper.OrderMapper">
    
    <!-- Auto-Generation Code Start -->

    <insert id="insertModel" keyProperty="orderId" parameterType="Order" statementType="PREPARED" useGeneratedKeys="true">
        INSERT INTO cg_order(
            order_id,
            total_amount,
            freight_amount,
            order_time,
            customer_id,
            payment_type,
            status,
            remark
        ) VALUES (
            #{orderId, jdbcType=BIGINT},
            #{totalAmount, jdbcType=DECIMAL},
            #{freightAmount, jdbcType=DECIMAL},
            #{orderTime, jdbcType=VARCHAR},
            #{customerId, jdbcType=BIGINT},
            #{paymentType, jdbcType=TINYINT},
            #{status, jdbcType=TINYINT},
            #{remark, jdbcType=VARCHAR}
        )
    </insert>
    
    <update id="updateModelById" parameterType="java.util.Map" statementType="PREPARED">
        UPDATE cg_order a
           SET a.order_id = a.order_id
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'totalAmount')">
               ,a.total_amount = #{paramMap.totalAmount, jdbcType=DECIMAL}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'freightAmount')">
               ,a.freight_amount = #{paramMap.freightAmount, jdbcType=DECIMAL}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'orderTime')">
               ,a.order_time = #{paramMap.orderTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'customerId')">
               ,a.customer_id = #{paramMap.customerId, jdbcType=BIGINT}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'paymentType')">
               ,a.payment_type = #{paramMap.paymentType, jdbcType=TINYINT}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'status')">
               ,a.status = #{paramMap.status, jdbcType=TINYINT}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'remark')">
               ,a.remark = #{paramMap.remark, jdbcType=VARCHAR}
            </if>
         WHERE a.order_id = #{id, jdbcType=BIGINT}
    </update>
    
    <delete id="deleteModelById" parameterType="java.lang.Long" statementType="PREPARED">
        DELETE FROM cg_order WHERE order_id = #{orderId, jdbcType=BIGINT}
    </delete>
    
    <delete id="deleteModelByIds" parameterType="java.util.List" statementType="PREPARED">
        DELETE FROM cg_order WHERE order_id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </delete>
    
    <select id="selectModelById" parameterType="java.lang.Long" resultType="Order" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.total_amount	totalAmount,
               a.freight_amount	freightAmount,
               DATE_FORMAT(a.order_time, '%Y-%m-%d %T')	orderTime,
               a.customer_id	customerId,
               a.payment_type	paymentType,
               a.status	status,
               a.remark	remark
          FROM cg_order a
         WHERE a.order_id = #{orderId, jdbcType=BIGINT}
    </select>
    
    <select id="selectModelByExample" parameterType="Order" resultType="Order" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.total_amount	totalAmount,
               a.freight_amount	freightAmount,
               DATE_FORMAT(a.order_time, '%Y-%m-%d %T')	orderTime,
               a.customer_id	customerId,
               a.payment_type	paymentType,
               a.status	status,
               a.remark	remark
          FROM cg_order a
         WHERE 1=1
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(minTotalAmount)">
        <![CDATA[
           AND a.total_amount >= #{minTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(maxTotalAmount)">
        <![CDATA[
           AND a.total_amount <= #{maxTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(minOrderTime)">
        <![CDATA[
           AND a.order_time >= #{minOrderTime, jdbcType=VARCHAR}
        ]]>
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(maxOrderTime)">
        <![CDATA[
           AND a.order_time <= #{maxOrderTime, jdbcType=VARCHAR}
        ]]>
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(customerId)">
           AND a.customer_id = #{customerId, jdbcType=BIGINT}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(paymentType)">
           AND a.payment_type = #{paymentType, jdbcType=TINYINT}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(status)">
           AND a.status = #{status, jdbcType=TINYINT}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(remark)">
           AND a.remark like CONCAT('%', #{remark, jdbcType=VARCHAR}, '%')
        </if>
    </select>
    
    <select id="selectModelListByIds" parameterType="java.util.List" resultType="Order" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.total_amount	totalAmount,
               a.freight_amount	freightAmount,
               DATE_FORMAT(a.order_time, '%Y-%m-%d %T')	orderTime,
               a.customer_id	customerId,
               a.payment_type	paymentType,
               a.status	status,
               a.remark	remark
          FROM cg_order a
         WHERE a.order_id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
         ORDER BY a.order_id ASC
    </select>
    
    <select id="selectAllModelList" parameterType="java.util.Map" resultType="Order" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.total_amount	totalAmount,
               a.freight_amount	freightAmount,
               DATE_FORMAT(a.order_time, '%Y-%m-%d %T')	orderTime,
               a.customer_id	customerId,
               a.payment_type	paymentType,
               a.status	status,
               a.remark	remark
          FROM cg_order a
         WHERE 1=1
         ORDER BY a.order_id ASC
    </select>
    
    <select id="selectAllModelCount" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM cg_order a
         WHERE 1=1
    </select>
    
    <select id="selectModelListByExample" parameterType="java.util.Map" resultType="Order" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.total_amount	totalAmount,
               a.freight_amount	freightAmount,
               DATE_FORMAT(a.order_time, '%Y-%m-%d %T')	orderTime,
               a.customer_id	customerId,
               a.payment_type	paymentType,
               a.status	status,
               a.remark	remark
          FROM cg_order a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minTotalAmount)">
        <![CDATA[
           AND a.total_amount >= #{example.minTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxTotalAmount)">
        <![CDATA[
           AND a.total_amount <= #{example.maxTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minOrderTime)">
        <![CDATA[
           AND a.order_time >= #{example.minOrderTime, jdbcType=VARCHAR}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxOrderTime)">
        <![CDATA[
           AND a.order_time <= #{example.maxOrderTime, jdbcType=VARCHAR}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.customerId)">
           AND a.customer_id = #{example.customerId, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.paymentType)">
           AND a.payment_type = #{example.paymentType, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.remark)">
           AND a.remark like CONCAT('%', #{example.remark, jdbcType=VARCHAR}, '%')
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageListByExample" parameterType="java.util.Map" resultType="Order" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.total_amount	totalAmount,
               a.freight_amount	freightAmount,
               DATE_FORMAT(a.order_time, '%Y-%m-%d %T')	orderTime,
               a.customer_id	customerId,
               a.payment_type	paymentType,
               a.status	status,
               a.remark	remark
          FROM cg_order a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minTotalAmount)">
        <![CDATA[
           AND a.total_amount >= #{example.minTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxTotalAmount)">
        <![CDATA[
           AND a.total_amount <= #{example.maxTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minOrderTime)">
        <![CDATA[
           AND a.order_time >= #{example.minOrderTime, jdbcType=VARCHAR}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxOrderTime)">
        <![CDATA[
           AND a.order_time <= #{example.maxOrderTime, jdbcType=VARCHAR}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.customerId)">
           AND a.customer_id = #{example.customerId, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.paymentType)">
           AND a.payment_type = #{example.paymentType, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.remark)">
           AND a.remark like CONCAT('%', #{example.remark, jdbcType=VARCHAR}, '%')
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageCountByExample" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM cg_order a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minTotalAmount)">
        <![CDATA[
           AND a.total_amount >= #{example.minTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxTotalAmount)">
        <![CDATA[
           AND a.total_amount <= #{example.maxTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minOrderTime)">
        <![CDATA[
           AND a.order_time >= #{example.minOrderTime, jdbcType=VARCHAR}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxOrderTime)">
        <![CDATA[
           AND a.order_time <= #{example.maxOrderTime, jdbcType=VARCHAR}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.customerId)">
           AND a.customer_id = #{example.customerId, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.paymentType)">
           AND a.payment_type = #{example.paymentType, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.status)">
           AND a.status = #{example.status, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.remark)">
           AND a.remark like CONCAT('%', #{example.remark, jdbcType=VARCHAR}, '%')
        </if>
    </select>
    
    <!-- Auto-Generation Code End -->

    <!-- Customized Code Start -->

    
    
    <!-- Customized Code End -->

</mapper>