<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.xmodule.ordercenter.mapper.OrderDetailMapper">
    
    <!-- Auto-Generation Code Start -->

    <insert id="insertModel" parameterType="OrderDetail" statementType="PREPARED">
        INSERT INTO cg_order_detail(
            order_id,
            product_id,
            product_name,
            product_url,
            unit_price,
            quantity,
            freight_amount,
            sub_total_amount
        ) VALUES (
            #{orderId, jdbcType=BIGINT},
            #{productId, jdbcType=BIGINT},
            #{productName, jdbcType=VARCHAR},
            #{productUrl, jdbcType=VARCHAR},
            #{unitPrice, jdbcType=DECIMAL},
            #{quantity, jdbcType=INTEGER},
            #{freightAmount, jdbcType=DECIMAL},
            #{subTotalAmount, jdbcType=DECIMAL}
        )
    </insert>
    
    <update id="updateModelById" parameterType="java.util.Map" statementType="PREPARED">
        UPDATE cg_order_detail a
           SET a.order_id = a.order_id, a.product_id = a.product_id
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'productName')">
               ,a.product_name = #{paramMap.productName, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'productUrl')">
               ,a.product_url = #{paramMap.productUrl, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'unitPrice')">
               ,a.unit_price = #{paramMap.unitPrice, jdbcType=DECIMAL}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'quantity')">
               ,a.quantity = #{paramMap.quantity, jdbcType=INTEGER}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'freightAmount')">
               ,a.freight_amount = #{paramMap.freightAmount, jdbcType=DECIMAL}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isContainsParameter(paramMap, 'subTotalAmount')">
               ,a.sub_total_amount = #{paramMap.subTotalAmount, jdbcType=DECIMAL}
            </if>
         WHERE a.order_id = #{id.orderId, jdbcType=BIGINT} AND a.product_id = #{id.productId, jdbcType=BIGINT}
    </update>
    
    <delete id="deleteModelById" parameterType="java.io.Serializable" statementType="PREPARED">
        DELETE FROM cg_order_detail WHERE order_id = #{orderId, jdbcType=BIGINT} AND product_id = #{productId, jdbcType=BIGINT}
    </delete>
    
    <delete id="deleteModelByIds" parameterType="java.util.List" statementType="PREPARED">
        DELETE FROM cg_order_detail WHERE 
        <foreach collection="list" index="index" item="item" open="" separator=" OR " close="">
            (order_id = #{item.orderId, jdbcType=BIGINT} AND product_id = #{item.productId, jdbcType=BIGINT})
        </foreach>
    </delete>
    
    <select id="selectModelById" parameterType="java.io.Serializable" resultType="OrderDetail" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.product_id	productId,
               a.product_name	productName,
               a.product_url	productUrl,
               a.unit_price	unitPrice,
               a.quantity	quantity,
               a.freight_amount	freightAmount,
               a.sub_total_amount	subTotalAmount
          FROM cg_order_detail a
         WHERE a.order_id = #{orderId, jdbcType=BIGINT} AND a.product_id = #{productId, jdbcType=BIGINT}
    </select>
    
    <select id="selectModelByExample" parameterType="OrderDetail" resultType="OrderDetail" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.product_id	productId,
               a.product_name	productName,
               a.product_url	productUrl,
               a.unit_price	unitPrice,
               a.quantity	quantity,
               a.freight_amount	freightAmount,
               a.sub_total_amount	subTotalAmount
          FROM cg_order_detail a
         WHERE 1=1
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(orderId)">
           AND a.order_id = #{orderId, jdbcType=BIGINT}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(productId)">
           AND a.product_id = #{productId, jdbcType=BIGINT}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(productName)">
           AND a.product_name like CONCAT('%', #{productName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(minUnitPrice)">
        <![CDATA[
           AND a.unit_price >= #{minUnitPrice, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(maxUnitPrice)">
        <![CDATA[
           AND a.unit_price <= #{maxUnitPrice, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(minSubTotalAmount)">
        <![CDATA[
           AND a.sub_total_amount >= #{minSubTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(maxSubTotalAmount)">
        <![CDATA[
           AND a.sub_total_amount <= #{maxSubTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
    </select>
    
    <select id="selectModelListByIds" parameterType="java.util.List" resultType="OrderDetail" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.product_id	productId,
               a.product_name	productName,
               a.product_url	productUrl,
               a.unit_price	unitPrice,
               a.quantity	quantity,
               a.freight_amount	freightAmount,
               a.sub_total_amount	subTotalAmount
          FROM cg_order_detail a
         WHERE 
        <foreach collection="list" index="index" item="item" open="" separator=" OR " close="">
            (a.order_id = #{item.orderId, jdbcType=BIGINT} AND a.product_id = #{item.productId, jdbcType=BIGINT})
        </foreach>
         ORDER BY a.order_id ASC, a.product_id ASC
    </select>
    
    <select id="selectAllModelList" parameterType="java.util.Map" resultType="OrderDetail" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.product_id	productId,
               a.product_name	productName,
               a.product_url	productUrl,
               a.unit_price	unitPrice,
               a.quantity	quantity,
               a.freight_amount	freightAmount,
               a.sub_total_amount	subTotalAmount
          FROM cg_order_detail a
         WHERE 1=1
         ORDER BY a.order_id ASC, a.product_id ASC
    </select>
    
    <select id="selectAllModelCount" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM cg_order_detail a
         WHERE 1=1
    </select>
    
    <select id="selectModelListByExample" parameterType="java.util.Map" resultType="OrderDetail" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.product_id	productId,
               a.product_name	productName,
               a.product_url	productUrl,
               a.unit_price	unitPrice,
               a.quantity	quantity,
               a.freight_amount	freightAmount,
               a.sub_total_amount	subTotalAmount
          FROM cg_order_detail a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.orderId)">
           AND a.order_id = #{example.orderId, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.productId)">
           AND a.product_id = #{example.productId, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.productName)">
           AND a.product_name like CONCAT('%', #{example.productName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minUnitPrice)">
        <![CDATA[
           AND a.unit_price >= #{example.minUnitPrice, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxUnitPrice)">
        <![CDATA[
           AND a.unit_price <= #{example.maxUnitPrice, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minSubTotalAmount)">
        <![CDATA[
           AND a.sub_total_amount >= #{example.minSubTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxSubTotalAmount)">
        <![CDATA[
           AND a.sub_total_amount <= #{example.maxSubTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageListByExample" parameterType="java.util.Map" resultType="OrderDetail" statementType="PREPARED">
        SELECT a.order_id	orderId,
               a.product_id	productId,
               a.product_name	productName,
               a.product_url	productUrl,
               a.unit_price	unitPrice,
               a.quantity	quantity,
               a.freight_amount	freightAmount,
               a.sub_total_amount	subTotalAmount
          FROM cg_order_detail a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.orderId)">
           AND a.order_id = #{example.orderId, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.productId)">
           AND a.product_id = #{example.productId, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.productName)">
           AND a.product_name like CONCAT('%', #{example.productName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minUnitPrice)">
        <![CDATA[
           AND a.unit_price >= #{example.minUnitPrice, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxUnitPrice)">
        <![CDATA[
           AND a.unit_price <= #{example.maxUnitPrice, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minSubTotalAmount)">
        <![CDATA[
           AND a.sub_total_amount >= #{example.minSubTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxSubTotalAmount)">
        <![CDATA[
           AND a.sub_total_amount <= #{example.maxSubTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">${item.property} ${item.direction}</foreach>
        </if>
    </select>
    
    <select id="selectModelPageCountByExample" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM cg_order_detail a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.orderId)">
           AND a.order_id = #{example.orderId, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.productId)">
           AND a.product_id = #{example.productId, jdbcType=BIGINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.productName)">
           AND a.product_name like CONCAT('%', #{example.productName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minUnitPrice)">
        <![CDATA[
           AND a.unit_price >= #{example.minUnitPrice, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxUnitPrice)">
        <![CDATA[
           AND a.unit_price <= #{example.maxUnitPrice, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.minSubTotalAmount)">
        <![CDATA[
           AND a.sub_total_amount >= #{example.minSubTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.maxSubTotalAmount)">
        <![CDATA[
           AND a.sub_total_amount <= #{example.maxSubTotalAmount, jdbcType=DECIMAL}
        ]]>
        </if>
    </select>
    
    <!-- Auto-Generation Code End -->

    <!-- Customized Code Start -->

    
    
    <!-- Customized Code End -->

</mapper>